body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 10px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row-country{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0.5rem; */
  padding: 0.5rem 0;
  /* background-color: rgb(199, 192, 192); */
}
.card-country{
  width: 10%;
  height: 100%;
  margin: 0.2rem;
  /* background-color: white; */
  /* border: 1px solid rgb(207, 233, 192); */
}
.header{
  display: flex;
  background-color: rgb(249, 252, 244);
  justify-content: space-between;
  padding:0.3rem 0.8rem;
}
.header-title{
  display: flex;
  align-items: center;
}
.globe{
  font-size: 20px;
  /* color: rgb(43, 99, 11); */

}
/* .p-title{
  color: rgb(43, 99, 11);
} */
@media (max-width:1200px){
  .card-country{
    width: 15%;
  }
}
@media (max-width:992px){
  .card-country{
    width: 20%;
  }
}
@media (max-width:768px){
  .card-country{
    width: 30%;
  }
}
@media (max-width:576px){
  .card-country{
    width: 90%;
    /* font-size: 20px; */
  }
  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
